@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-white text-zinc-800;
}

body.dark{
    @apply bg-black text-gray-100;
}

body::-webkit-scrollbar {
    width: 18px;
    height: 18px;
}
body::-webkit-scrollbar-track {
    @apply bg-transparent;
}
body::-webkit-scrollbar-thumb {
    @apply bg-gray-500/25 hover:bg-gray-500/30 rounded-xl transition-all;
    border: 5px solid;
    @apply border-gray-100;
}

body.dark::-webkit-scrollbar-thumb {
    @apply border-zinc-900;
}

